<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MyLibrary</a>
        <ul>
            <li ><a href="/authors">Authors</a></li>
            <li ><a href="/authors/new" class=header-link>Add Author</a></li>
            <li ><a href="/books" class=header-link>Books</a></li>
            <li ><a href="/books/new" class=header-link>Add Book</a></li>
        </ul>
    </nav>
</header>