<h2>Recently Added</h2>
<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %> ">
        <img height="220" width="150" src="<%= book.coverImagePath %> ">
    </a>
        <% }) %>  
</div>